# dependencies
**/node_modules

# testing
/coverage

# production
/build

# remove css compiled on the fly
# from source control
src/**/*.css

# misc
.DS_Store
**/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
