// styles for components:
.community, .mentorship, {
  text-align: center;
}

#chat {
  width: 65vw;
  form {
    margin-top: 25px;
  }
  button {
    margin-top: 10px;
  }
  img {
    border-radius: 50%;
  }
  #infoIcon {
    position: absolute;
    font-size: 20px;
    right: 5px;
    top: 10px;
    transition: color 250ms ease-in-out;
  }
  #infoIcon:hover {
    cursor: pointer;
    color: rgb(0,225,225) !important;
    transition: color 250ms ease-in-out;
  }
  #messageContainer {
    width: 63.5vw;
    min-height: 25vh;
    max-height: 50vh;
    overflow-y: auto;
  }
  .chatMessage {
    #editInput {
      width: 95%;
    }
    .editButton {
      transition: color 300ms ease;
    }
    .editButton:hover {
      cursor: pointer;
      color: black;
      transition: color 300ms ease;
    }
  }
  #chatModalButton {
    background: #00B5AD;
    color: #00B5AD;
  }
}
