// styles for components:
.community, .mentorship, {
  text-align: center;
}

#chat {
  width: 65vw;
  form {
    margin-top: 25px;
  }
  button {
    margin-top: 10px;
  }
  img {
    border-radius: 50%;
  }
  #messageContainer {
    width: 63.5vw;
    min-height: 25vh;
    max-height: 50vh;
    overflow-y: auto;
  }
  .chatMessage {
    #editInput {
      width: 95%;
    }
    .editButton {
      transition: color 300ms ease;
    }
    .editButton:hover {
      cursor: pointer;
      color: black;
      transition: color 300ms ease;
    }
  }
}
