#chat {
  background: rgba(250,250,250,0.93);
  width: 65vw;
  form {
    margin-top: 25px;
  }
  button {
    margin-top: 10px;
  }
  h2 {
    padding-right: 40px;
  }
  .linkHome {
    position: absolute;
    right: 15px;
    color: #00b5ad;
    span {
      text-decoration: underline;
    }
  }
  .linkHome:hover {
    color: rgb(0,225,225);
  }
  .conversant {
    color: #00b5ad;
  }
  .privateAvatar {
    margin-right: 7px;
    margin-bottom: -5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .author-link:hover {
    cursor: pointer;
    color: rgb(0,225,225);
  }
  .author-link-inactive:hover {
    color: rgb(0,225,225);
  }
  #infoIcon {
    position: absolute;
    font-size: 20px;
    right: 5px;
    top: 10px;
    transition: color 250ms ease-in-out;
  }
  #infoIcon:hover {
    cursor: pointer;
    color: rgb(0,225,225) !important;
    transition: color 250ms ease-in-out;
  }
  #privateChatIcon {
    position: absolute;
    font-size: 22px;
    right: 32px;
    top: 9px;
    transition: color 250ms ease-in-out;
  }
  #privateChatIcon:hover {
    cursor: pointer;
    color: rgb(0,225,225) !important;
    transition: color 250ms ease-in-out;
  }
  #privateChatChannels {
    position: absolute;
    top: 5px;
    right: 65px;
    width: 225px;
    min-height: 35px;
    padding: 10px;
    color: black;
    border-radius: 3px;
    background: rgba(0,225,225, 0.95);
    h3 {
      text-decoration: underline;
      margin-bottom: 7px;
    }
    .privateChannel {
      font-weight: bold;
      color: black;
      transition: color 150ms ease-in-out;
    }
    .privateChannel:hover {
      cursor: pointer;
      color: white;
      transition: color 150ms ease-in-out;
    }
  }
  #chatInput {
    padding-right: 35px;
  }
  #messageContainer {
    width: 63.5vw;
    min-height: 25vh;
    max-height: 45vh;
    overflow-y: auto;
  }
  .chatMessage {
    .timeStamp {
      color: rgb(125,125,125);
    }
    #editInput {
      width: 95%;
    }
    .editButton {
      transition: color 300ms ease;
    }
    .editButton:hover {
      cursor: pointer;
      color: black;
      transition: color 300ms ease;
    }
  }
  #smiles {
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 20px;
  }
  #smiles:hover {
    cursor: pointer;
  }
}
