---
extends: react-app
plugins:
  - react
rules:
  sort-imports:
  - error
  - ignoreCase: true
    ignoreMemberSort: false
    memberSyntaxSortOrder:
    - none
    - all
    - single
    - multiple
  sort-vars:
  - error
  - ignoreCase: true
  sort-keys:
  - warn
  - asc
  - caseSensitive: false
    natural: true
