@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes bouncey-arrow {
  0% { margin-top: 410px; }
  50% { margin-top: 390px; }
  100% { margin-top: 410px; }
}