.App {
  text-align: center;
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
    margin-top: 100px;
  }
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.menu .fa-free-code-camp {
  margin-right: 8px;
} 