$tealColor: rgb(0,225,225);

#chat {
  background: rgba(250,250,250,0.93);
  width: 65vw;
  form {
    margin-top: 25px;
  }
  button {
    margin-top: 10px;
  }
  h2 {
    padding-right: 40px;
  }
  .linkHome {
    position: absolute;
    right: 50px;
    color: #00b5ad;
    span {
      text-decoration: underline;
    }
    &:hover {
      color: $tealColor;
    }
  }
  .conversant {
    color: #00b5ad;
  }
  .privateAvatar {
    margin-right: 7px;
    margin-bottom: -5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      color: $tealColor;
    }
  }
  .notifications {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: red;
    font-size: 13px;
    text-align: center;
    padding-top: 5x;
  }
  #infoIcon {
    position: absolute;
    font-size: 30px;
    right: 38px;
    top: 13px;
    transition: color 250ms ease-in-out;
    &:hover {
      cursor: pointer;
      color: $tealColor !important;
      transition: color 250ms ease-in-out;
    }
  }
  #privateChatIconWrapper {
    transition: color 250ms ease-in-out;
    &:hover {
      cursor: pointer;
      color: white;
      transition: color 250ms ease-in-out;
    }
  }
  #privateChatIcon {
    position: absolute;
    font-size: 30px;
    right: 3px;
    top: 13px;
    transition: color 250ms ease-in-out;
    &:hover {
      cursor: pointer;
      color: $tealColor !important;
      transition: color 250ms ease-in-out;
    }
  }
  .totalNotifications {
    position: absolute;
    top: 3px;
    right: 6px;
    font-weight: bold;
  }
  #privateChatChannels {
    z-index: 15;
    position: absolute;
    top: 5px;
    right: 42px;
    width: 315px;
    min-height: 35px;
    padding: 10px;
    padding-bottom: 25px;
    color: black;
    border-radius: 3px;
    background: rgba(0,225,225, 0.95);
    h3 {
      text-decoration: underline;
      margin-bottom: 20px;
    }
    .privateChannel {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      color: black;
      font-size: 22px;
      padding-left: 10px;
      transition: color 150ms ease-in-out;
      img {
        width: 25px;
        height: 25px;
      }
      .privateNotifications {
        position: relative;
        top: -12px;
        right: 10px;
        z-index: 20;
      }
      &:hover {
        cursor: pointer;
        color: white;
        transition: color 150ms ease-in-out;
      }
    }
    #closePrivateChat {
      position: absolute;
      top: 6px;
      right: -2px;
      font-size: 24px;
      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }
  #chatInput {
    padding-right: 35px;
  }
  #messageContainer {
    width: 100%;
    min-width: 63.5vw;
    min-height: 25vh;
    max-height: 45vh;
    overflow-y: auto;
  }
  .chatMessage {
    .avatar {
      &:hover {
        cursor: pointer;
      }
    }
    .author-link:hover {
      cursor: pointer;
      color: $tealColor;
    }
    .mentorIcon {
      margin-left: 5px;
      font-size: 16px;
    }
    .onlineIcon, {
      margin-left: 3px;
      font-size: 15px;
      color: $tealColor;
    }
    .timeStamp {
      color: rgb(125,125,125);
    }
    #editInput {
      width: 95%;
    }
    .editButton {
      transition: color 300ms ease;
    }
    .editButton:hover {
      cursor: pointer;
      color: black;
      transition: color 300ms ease;
    }
  }
  #smiles {
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.avatar-tooltip {
    position: relative;
    display: inline-block;
}

.avatar-tooltip .avatar-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(5,5,5,0.87);
    color: $tealColor;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    font-weight: normal;
    /* Position the avatar-tooltip */
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 1;
}

.avatar-tooltip:hover .avatar-tooltiptext {
    visibility: visible;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(5,5,5,0.87);
    color: $tealColor;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    font-weight: normal;
    /* Position the tooltip */
    position: absolute;
    left: 75px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
