.search-fields,
.search-filters,
.button-wrapper,
.results-indicator-wrapper {
  @extend .center-aligned;
}

.button-wrapper,
.results-indicator-wrapper {
  padding-bottom: 15px;
}

.search-filters.hide {
  @extend .transition-out;
}

.search-filters.show {
  @extend .transition-in;
}

.filters-selector {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  width: 230px;
  margin: 5px auto;
}

.search-results {
  padding-bottom: 50px !important;
  @extend .center-aligned;
}

.search-result-item {
  min-width: 35vw !important;
  .chatIcon {
    font-size: 20px;
    margin-left: 4px;
    margin-bottom: 2px;
    transition: color 100ms ease-in-out;
  }
  .chatIcon:hover {
    cursor: pointer;
    color: rgb(0,225,225);
    transition: color 100ms ease-in-out;
  }
}
