.saveSection,
#saveButton {
  float: right;
  cursor: pointer;
  transition: color 150ms ease-in-out;
  &:hover {
    color:  lighten(#007E00, 60%) !important;
  }
}

.savedPopUp {
  position: absolute;
}

.savedPopUp.hide {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.savedPopUp.show {
  animation: bounceUp 200ms;
}

.folderDetail:hover {
  cursor: pointer;
  i.folder.icon {
    color: white !important;
  }
}

.profileWrapper,
.fccWrapper,
.mentorshipWrapper,
.skillsWrapper,
.socialWrapper,
.careerWrapper,
.collaborationWrapper {
  cursor: pointer;
}

.profilePane.hide,
.fccPane.hide,
.mentorshipPane.hide,
.skillsPane.hide,
.socialPane.hide,
.careerPane.hide,
.collaborationPane.hide,
.mentorshipSkillsPane.hide,
.surveyPaneWorking.hide,
.surveyPaneLooking.hide {
  @extend .transition-in;
}

.profilePane.show,
.fccPane.show,
.mentorshipPane.show,
.skillsPane.show,
.socialPane.show,
.careerPane.show,
.collaborationPane.show,
.mentorshipSkillsPane.show,
.surveyPaneWorking.show,
.surveyPaneLooking.show {
  @extend .transition-out;
}
