$hoverDarkGreen: darken(#006400, 8%);

.saveSection {
  float: right;
  cursor: pointer;
  transition: color 150ms ease-in-out;
  &:hover {
    color:  $hoverDarkGreen !important;
  }
}

.savedPopUp {
  position: absolute;
}

.savedPopUp.hide {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.savedPopUp.show {
  animation: bounceUp 200ms;
}

.folderDetail {
  background: #007E00 !important;
}

.folderDetail:hover {
  cursor: pointer;
  i.folder.icon {
    color:  $hoverDarkGreen !important;
  }
}
