.saveSection,
#saveButton {
  float: right;
  cursor: pointer;
  &:hover {
    color: rgb(10, 97, 89) !important;
  }
}

.savedPopUp {
  position: absolute;
}

.savedPopUp.hide {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.savedPopUp.show {
  animation: bounceUp 200ms;
}

.folderDetail:hover {
  cursor: pointer;
  i.folder.icon {
    color: white !important;
  }
}

.profileWrapper,
.fccWrapper,
.mentorshipWrapper,
.skillsWrapper,
.socialWrapper,
.careerWrapper,
.collaborationWrapper {
  cursor: pointer;
}

.profilePane,
.fccPane,
.mentorshipPane,
.skillsPane,
.socialPane,
.careerPane,
.collaborationPane,
.mentorshipSkillsPane {
  padding-top: 8px;
  padding-bottom: 8px;
}

.profilePane.hide,
.fccPane.hide,
.mentorshipPane.hide,
.skillsPane.hide,
.socialPane.hide,
.careerPane.hide,
.collaborationPane.hide,
.mentorshipSkillsPane.hide,
.surveyPaneWorking.hide,
.surveyPaneLooking.hide {
  @extend .transition-in;
}

.mentorshipSkillsPane.hide {
  display: none;
}

.profilePane.show,
.fccPane.show,
.mentorshipPane.show,
.skillsPane.show,
.socialPane.show,
.careerPane.show,
.collaborationPane.show,
.mentorshipSkillsPane.show,
.surveyPaneWorking.show,
.surveyPaneLooking.show {
  @extend .transition-out;
}

.fccPane.show {
  margin-bottom: 8px !important;
}
