.slider-toggle-container {
  width: 310px;
  margin: 5px 0 5px 0 !important;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 0;
  .slider-label {
    vertical-align: top !important;
  }
  .slider-toggle {
    display: inline-block;
    width: 80px;
    height: 26px;
    background: #333;
    position: relative;
    border-radius: 50px;
    margin-right: 5px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    &:after {
      content: 'OFF';
      color: #FF4025;
      position: absolute;
      right: 10px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      font-weight: bold;
    }
    &:before {
      content: 'ON';
      color: lighten(#006400, 60%);
      position: absolute;
      left: 10px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      font-weight: bold;
    }
    .toggler {
      width: 34px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 3px;
      z-index: 1;
      background: #fcfff4;
      background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      border-radius: 50px;
      transition: all 0.2s ease;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    }
  }
}

.slider-toggle-container:nth-of-type(3) {
  margin: 5px 0 0 0;
}
