@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes bouncey-arrow {
  0% { margin-top: 45px; }
  50% { margin-top: 15px; }
  100% { margin-top: 45px; }
}

@keyframes bounceUp {
  0% { top: 15px; opacity: 0.01; }
  80% { top: -8px; opacity: 0.7; }
  100% { top: 0; opacity: 1.0; }
}
