.middle-aligned {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-aligned {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.transition-in {
  overflow: hidden;
  opacity: 0.01;
  max-height: 0;
  transition:
    opacity 400ms ease-out,
    max-height 300ms ease;
}

.transition-out {
  opacity: 1.0;
  max-height: 1000px;
  transition:
    opacity 500ms ease-in,
    max-height 400ms ease-out;
}

.spacer {
  padding: 5px;
}

.text-align-center {
  text-align: center !important;
}
