@import 'animations';
@import 'helperClasses';
@import 'components/Chat';
@import 'components/SliderToggle';
@import 'components/Profile';

.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  animation: App-logo-spin infinite 15s linear;
  margin-top: 100px;
}

.App-intro {
  font-size: large;
}

// fcc FA icon in navbar
.menu .fa-free-code-camp {
  margin-right: 8px;
}

.flash-message {
  margin: 20px 0;
}

// need media query to remove arrow at width/height of approx 850 X 725
#arrow-bounce {
  animation: bouncey-arrow 1.5s infinite;
}

.flash-message {
  margin-top: 80px !important;
}

#navMenu {
  .item {
    width: 50vw !important;
  }
}
