@import 'animations';
@import 'components/Chat';
@import 'components/SliderToggle';
@import 'components/Profile';

#dropdownPreferencesLink,
#dropdownProfileLink {
  color: white !important;
  background: #006400 !important;
  height: 45.69px !important;
  &:hover {
    background: darken(#007E00, 3%) !important;
  }
}

.fcc-alumni-nav {
  .menu.transition.visible {
    border: none !important;
    box-shadow: none !important;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  animation: App-logo-spin infinite 15s linear;
  margin-top: 100px;
}

.App-intro {
  font-size: large;
}

#arrow-bounce {
  animation: bouncey-arrow 1.5s infinite;
}

#navMenu {
  .item {
    width: 50vw !important;
  }
}

.free.code.camp.icon {
  margin-right: .3rem !important;
}

.spacer {
  padding: 5px;
}
