@import 'animations';
@import 'helperClasses';
@import 'components/Chat';
@import 'components/SliderToggle';
@import 'components/Profile';

.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  animation: App-logo-spin infinite 15s linear;
  margin-top: 100px;
}

.App-intro {
  font-size: large;
}

.flash-message {
  margin: 20px 0;
}

#arrow-bounce {
  animation: bouncey-arrow 1.5s infinite;
}

#navMenu {
  .item {
    width: 50vw !important;
  }
}

.free.code.camp.icon {
  margin-right: .3rem !important;
}

#accountSettings {
  text-align: center;
  margin-top: 150px;
}
#deleteInput {
  width: 100%;
  border: 1px solid rgba(5,5,5,0.25);
  padding: 4px 6px;
  font-size: 22px;
}
